@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    *:focus{
        outline-color: black;
    }

    li, ul {
        @apply list-disc list-inside;
    }

    li{
        @apply text-xl leading-snug;
    }

    .react-tabs__tab--selected>h4{
        @apply text-white;
    }

    .react-tabs__tab--selected{
        background:none!important;
        color:white!important;
    }
    
    .react-tabs__tab--selected{
        @apply bg-primary-700  !important;
    }

    .product-tabs li{
        @apply rounded-md md:rounded-b-none hover:bg-primary-600 hover:text-white;
    }
    
    
    @media screen and (max-width:1024px){
        .scrolled{
            top:-70px!important;
        }
    }

    .button{
        @apply mx-auto font-semibold rounded-md shadow-sm bg-primary-700 hover:bg-primary-600;
    }

    .ais-SearchBox{
        @apply w-full;
    }

    .ais-SearchBox-form{
        @apply w-full;
    }
   
    .ais-SearchBox-input{
        @apply  bg-gray-600 bg-opacity-10 rounded-md w-full text-2xl p-5;
    }

    .ais-SearchBox-input{
        height:50px;
    }

    .ais-SearchBox-submit, .ais-SearchBox-resetIcon{
        @apply  hidden;
    }
   
    .ais-Hits-list{
        @apply  grid grid-cols-1 gap-0.5;
    }

    .ais-Hits-item{
        @apply rounded-sm shadow-md m-1 list-none;
    }

    .product-description li{
        @apply py-1 text-lg;
    }

    .product-description table{
        @apply hidden;
    }

    .product-specs a, .product-specs p, .product-specs ul, .product-specs li, .product-specs img{
        @apply hidden
    }

    .product-specs table{
        @apply w-full max-w-xl;
    }

    .product-specs table tbody tr{
        @apply border-b;
    }

    ::-webkit-scrollbar {
        @apply bg-white w-2;
      }
      
      ::-webkit-scrollbar-track {
        @apply shadow-md;
      }
       
      ::-webkit-scrollbar-thumb {
        @apply bg-primary-700 rounded-sm;
      }
      
      :-webkit-scrollbar-thumb:hover {
        @apply bg-primary-600;
      }

      .navbar ::-webkit-scrollbar, .cart-overlay ::-webkit-scrollbar{
        @apply hidden;
      }

    .ais-RefinementList-list li{
        @apply list-none;
    }

    .ais-RefinementList-label{
        @apply flex flex-row items-center;
    }

    .ais-RefinementList input[type="checkbox"]{
        @apply w-4 h-4 rounded-md cursor-pointer mr-2;
    }

    .ais-RefinementList-labelText{
        @apply text-base;
      }
    
    .ais-RefinementList-count{
        @apply px-2 rounded-3xl leading-relaxed text-xs font-semibold text-black bg-gray-200 bg-opacity-50 ml-3;
    }

    .ais-RefinementList-showMore{
        @apply button rounded-sm text-white px-2 py-1 text-sm my-2;
    }

    .ais-RangeInput-input{
        @apply outline-black;
    }

    

    

}




    

    
