// Set Colors //

/* Standard Shades => */

$white:rgb(237,237,237);
$offWhite:rgb(225,225,225);
$black:rgb(17,17,17);
$offBlack:rgb(24,24,24);
$grey:rgb(90,90,90);
$darkGrey:rgb(40,40,40);
$lightGrey:rgb(150,150,150);

/* Custom Palette => */
/*
$primary:;
$primaryHover:;
$primaryBG:;
$secondary:;
$secondaryHover:;
$secondaryBG:; 
*/

// Set Fonts //


